[Desktop Entry]
Name=We10XOS-dark
Comment=We10XOS-dark theme for plasma

X-KDE-PluginInfo-Author=yeyushengfan258
X-KDE-PluginInfo-Email=yeyushengfan258@outlook.com
X-KDE-PluginInfo-Name=We10XOS-dark
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/yeyushengfan258/We10XOS-kde
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL 3.0
X-KDE-PluginInfo-EnabledByDefault=true

[ContrastEffect]
enabled=false
contrast=0.2
intensity=0.4
saturation=1.7

[Wallpaper]
defaultWallpaperTheme=We10XOS-dark
defaultFileSuffix=.png
defaultWidth=1920
defaultHeight=1080

[AdaptiveTransparency]
enabled=true
