[Desktop Entry]
Name=Win10XOS-Concept
Comment=Win10XOS-Concept theme for kde plasma
Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;

Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=yeyushengfan258
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=yeyushengfan258@outlook.com
X-KDE-PluginInfo-License=GPL3.0
X-KDE-PluginInfo-Name=com.github.yeyushengfan258.Win10XOS-Concept
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=https://github.com/yeyushengfan258/Win10XOS-Concept-kde
X-KDE-fallbackPackage=org.kde.breeze.desktop
X-Plasma-MainScript=defaults
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1356760,kns://plasma-themes.knsrc/api.kde-look.org/1356763,kns://aurorae.knsrc/api.kde-look.org/1356759,kns://icons.knsrc/api.kde-look.org/1348081,kns://wallpaper.knsrc/api.kde-look.org/1356765,kns://sddmtheme.knsrc/api.kde-look.org/1356764
