[SddmGreeterTheme]
Name=Win10XOS-Concept
Description=Win10XOS-Concept theme for KDE Plasma
Author=yeyushengfan258
License=GPL-3.0-or-later
Type=sddm-theme
Version=0.1
Website=https://github.com/yeyushengfan258/Win10XOS-Concept-kde
Screenshot=Preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=yeyushengfan258@outlook.com
Theme-Id=Win10XOS-Concept
Theme-API=2.0
