[Desktop Entry]
Name=We10XOS-light
Comment=We10XOS-light theme for kde plasma
Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;

Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=yeyushengfan258
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=yeyushengfan258@outlook.com
X-KDE-PluginInfo-License=GPL3.0
X-KDE-PluginInfo-Name=com.github.yeyushengfan258.We10XOS-light
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=https://github.com/yeyushengfan258/We10XOS-light-kde
X-KDE-fallbackPackage=org.kde.breeze.desktop
X-Plasma-MainScript=defaults
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1466862,kns://plasma-themes.knsrc/api.kde-look.org/1466867,kns://aurorae.knsrc/api.kde-look.org/1466861,kns://icons.knsrc/api.kde-look.org/1366371,kns://wallpaper.knsrc/api.kde-look.org/1466859,kns://sddmtheme.knsrc/api.kde-look.org/1368854,kns://xcursor.knsrc/api.kde-look.org/1381208
X-Plasma-MainScript=defaults
