[Desktop Entry]
Name=We10XOS
X-KDE-PluginInfo-Name=We10XOS
X-KDE-PluginInfo-Author=yeyushengfan258
X-KDE-PluginInfo-Email=yeyushengfan258@outlook.com
X-KDE-PluginInfo-License=GPLv3
